.header {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: white;
}

.content {
  display: flex;
  width: 100%;
  height: 400px;
  background-color: white;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #e60003;
}

.footertext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  max-width: 2000px;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  word-spacing: 1.5px;
  color:Black;
  text-decoration: none;
}

